.dropdownCard {
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
  }
  
  .dropdownOption {
    padding: 10px;
    cursor: pointer;
  }
  
  .dropdownOption:hover {
    background-color: #f2f2f2;
  }
  