.header {
  color: white;
  height: 90vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url("/assets/images/background/Abstract.svg") center/cover no-repeat;
  position: relative; /* make the header a positioning context */
}

/* position the content absolutely in the center of the header */
.content {
  position: absolute;
  top: 50%; /* position the top of the element at the middle of the header */
  left: 50%; /* position the left of the element at the middle of the header */
  transform: translate(-50%, -50%); /* center the element both horizontally and vertically */
  text-align: center; /* center the text horizontally */
}

.btnDiv {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
}

.btnDiv button {
  border: none;
  font-size: 15px;
  margin: 20px 0;
  padding: 15px 35px;
  background: linear-gradient(to right, #222759, #5560d5);
  border-radius: 5px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.btnDiv button:hover{
  transform: scale(1.05);
}

.header h1 {
  margin-bottom: 30px;
  color: white;
}


@media (max-width:800px) {
  .content h2{font-size: 18px;}
  .btnDiv{gap: 0;}
  .btnDiv button{margin: 10px;}
}