.body {
    display: flex;
    width: 100%;
    align-items: center;
    margin:auto;
  }
  
  .right {
    width: auto;
    display: flex;
    background: white;
    flex-direction: column;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    padding: 30px;
  }
  
  .form {
    justify-content: center;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .form input {
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.258);
    padding: 10px;
  }
  
  .form input[type=submit]{
      border: none;
      font-size: 15px;
      padding: 15px;
      background: linear-gradient(to right, #222759, #5560d5);
      border-radius: 5px;
      color: white;
      font-weight: 600;
      cursor: pointer;
    }
  
    .iconHeader{
      width: 100%;
      display: flex;
      margin-bottom: 10px;
      align-items: flex-end;
      justify-content: space-between;
    }

    .iconHeader button {
      padding: 0;
      border: none;
      cursor: pointer;
      background-color: transparent;
      color: black;
      font-weight: bold;
    }
    
    .iconHeader button img {
      width: 20px;
      height: 20px;
    }
    
    .iconHeader button.cross {
      margin-left: auto;
    }
    
    .googleSignBtn{
      display:"flex";
      justify-content:"center";
      align-items:"center";
    }

  @media (max-width:1300px) {
    .right{
        width: 40%;
    }
 }
 

  @media (max-width:800px) {
     .right{
         width: 95%;
     }
  }
  