.recordsBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background: black;
    color: white;
    padding: 3rem 0;
}

.recordsDetail{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10rem;
    font-size: 2.5rem;
}

.type{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}