.services {
  display: flex;
  flex-direction: column;
  background-color: #0f0f0f;
  color: white;
  align-items: center;
  padding: 50px 20px;
  gap: 5rem;
}
.services a{
  text-decoration: none;
}
.services h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.services div {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.serviceCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 300ms linear;
  /* width: 350px 300px; */
  width: 100%; /* default to 33.33% width */
  max-width: 300px; /* maximum width */
  min-width: 100px; /* minimum width */
  text-align: center;
  padding: 20px;
  margin: 0 10px 20px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.serviceCard:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: translateY(-5px);
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
}

.serviceCard::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 5px;
  background: linear-gradient(to right, #5764de, #55b3d5);
  transition: all 300ms linear;
}

.serviceCard:hover::after {
  width: 80%;
}

.icon {
  font-size: 3rem;
  color: #55b3d5;
  margin-bottom: 20px;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #f5cb5c;
  margin-bottom: 10px;
}

.text {
  font-size: 1rem;
  line-height: 1.5;
  color: #d4d4d4;
}

.link {
  font-size: 1.5rem;
  color: #55b3d5;
  text-decoration: none;
  margin-top: 20px;
}

.link:hover {
  text-decoration: underline;
}

